body {
    font-family: Arial, sans-serif;
    background: #f2f4f7;
    text-align: center;
    padding: 40px;
}

h1 {
    font-size: 36px;
}

h2 {
    margin-top: 30px;
}

p {
    font-size: 20px;
}

div {
    max-width: 400px;
    margin: 20px auto;
}

div p {
    background: white;
    padding: 15px;
    border-radius: 12px;
    margin: 10px 0;
}
#complete {
    display: none;
    background: white;
    padding: 25px;
    border-radius: 15px;
    max-width: 400px;
    margin: 30px auto;
    font-size: 24px;
    font-weight: bold;
}
#qr-list p {
    background: white;
    padding: 15px;
    border-radius: 12px;
    margin: 10px 0;
}